html,body{
    alignment: right;
    background-color: white;
    font-family: IRANSans;
    color: #424242;
    height: 100%;
    line-height: 27px;
    font-size: 16px;
    direction: rtl;
    margin: 0px;
}
body * {
    margin:0;
    padding:0;
}
.row,col{
    margin: 0px;
}

/*navbar 1*/
.nav1{

    background-color: white ;
    height: auto;
}

.item_nav1{
    border: none;
    background-color: unset;
}

.item_nav_link1{
    border: none;
    background-color: unset;
}

.item_nav_link2{
    border: none;
    background-color: unset;
}

.item_nav1:focus {
    border: none;
    outline: none;
}

.item_nav_link1:focus {
    border: none;
    outline: none;
}

.item_nav_link2:focus {
    border: none;
    outline: none;
}

.logo{
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*navbar 2*/
.nav2{
    z-index: 2;
    text-align: right;
    height: 50px;
    background-color: #00B9F1;
    width: 100%;
}

.dropbtn {
    z-index: 1;
    background-color: #00B9F1;
    color: white;
    padding:11px 10px 10px 10px;
    font-size: 16px;
    border: none;
}
.dropbtn:focus {
    border: none;
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    z-index: 2;
    position: sticky;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    text-align: right;
    color: #42425F;
    font-size: 12px;
    border: #00b9f1 solid 2px;
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: white;
    width: auto;
    box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0;
}
hr{
    margin: 0;
}
.arrow-menu{
    float: left;!important;
}
/* Links inside the dropdown */
.dropdown-content1 a {
    width: 300px;
    color: black;
    padding: 8px 16px 8px 8px;
    text-decoration: none;
    display: inline-block;
}









/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content1 {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #00B9F1;}

.search-bar {
    margin-top: 5px;
}

.search-btn {
    color: white;
    border-color: #00B9F1;
    background-color: #424242;
    border-style: solid;
    border-radius: 20px 0px 0px 20px;
    padding: 2px 25px 0px 25px;
    font-size: 12px;
}

.form-control{
    border-radius: 0px 25px 25px 0px;
    font-size: 17px;
    padding: 19px;
}

.login-btn {
    text-decoration: none;
    color: white;
    border: none;
    background-color: unset;
    margin: 10px auto 0px auto;
    font-size: 14px;
}
.login-btn:focus {
    border: none;
    outline: none;
}

.basket-btn{
    margin: 0;
    padding: 0;
    border: #00B9F1;
    background-color: unset;

}
.basket-btn:focus{
    border: none;
    outline: none;
}
/*cards*/
.card-link{
    position: relative;
    padding-top: 50px;
}
.card{
    width: 23%;
    float: right;
    border: white;
    border-radius: 20px;
}
.card:hover{
    bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

/*big-card*/
.big-card{
    padding: 60px 0px 60px 0px;
}

/*footer*/
.nav-footer{
    background-color: #00B9F1;
    height: 50px;
    color: white;
    font-size: 13px;
}
.nav-footer-icon{
    text-align: right;
}
.footer-form{
    padding-top: 5px;
    width: 70%;
    float: left;
}
.footer{
    width: 100%;
    height: 420px;
    color: #424242;
    background-color: #e3e3e3;
    padding-top: 20px;
    font-size: 13px;
}

.footer2{
    padding: 20px 0px 0px 0px;
    text-align: center;
    line-height: 23px;
    font-size: 13px;
}
.guidance-num{
    text-align: right;
    padding-top: 8px;
    font-size: 16px;
}
.footer-final{
    display: block;
    color: #00ff25;
    font-family: "Segoe Script";
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    background-color: #565656;
    width: 100%;
    height: 70px;
    padding: 20px 0px 20px 0px;
}
.row-footer3{
    padding: 30px 30px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.footer3{
    font-weight: bold;
    font-family: IRANSans;
    font-size: 14px;
    text-align: right;
    color: black;
    margin-bottom: 30px;

}
.end-links{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #424242;
    margin: 0px 0px 10px 0px;
    padding:0px;
    font-size: 12px;
}
.login-div{
    color: white;
    margin: 0;
    padding: 0px ;

}
.logout_btn{
    color: white;
    border: none;
    background-color: unset;
    padding: 12px 10px 0px 0px;
}
.logout_btn:focus{
    border: none;
    outline: none;
}
.login-name{
    padding: 12px 5px 0px 0px;
}









nav menuitem {
    position:relative;
    display:block;
    opacity:0;
    cursor:pointer;
    z-index: 2;
}

nav menuitem > menu {
    position: absolute;
    pointer-events:none;
}
nav > menu { display:flex; }

nav > menu > menuitem { pointer-events: all; opacity:1; }
menu menuitem a { white-space:nowrap; display:block; }

menuitem:hover > menu {
    pointer-events:initial;
}
menuitem:hover > menu > menuitem,
menu:hover > menuitem{
    opacity:1;
}
nav > menu > menuitem menuitem menu {
    transform:translateX(-100%);
    top:0; right:0;
}



nav a {
    background:white;
    color:black;
    min-width:150px;
    transition: background 0.1s, color 0.1s, transform 0.1s;
    margin:0px 6px 6px 0px;
    padding:20px 40px;
    box-sizing:border-box;
    border-radius: 10px;
    position:relative;
}

nav a:hover:before {
    content: '';
    top:0;left:0;
    position:absolute;
    background:rgba(0, 0, 0, 0.2);
    width:100%;
    height:100%;
}


nav menuitem > menu > menuitem > a + menu:after{
    content: '';
    position:absolute;
    border:10px solid transparent;
    border-right: 10px solid #00B9F1;
    top: 20px;
    right:-20px;
    border-radius: 5px;

}

nav > menu > menuitem > menu > menuitem{
    transition: transform 0.2s, opacity 0.2s;
    transform:translateY(+150%);
    opacity:0;
}
nav > menu > menuitem:hover > menu > menuitem,
nav > menu > menuitem.hover > menu > menuitem{
    transform:translateY(0%);
    opacity: 1;
}

menuitem > menu > menuitem > menu > menuitem{
    transition: transform 0.2s, opacity 0.2s;
    transform:translateX(-195px) translateY(0%);
    opacity: 0;
}
menuitem > menu > menuitem:hover > menu > menuitem,
menuitem > menu > menuitem.hover > menu > menuitem{
    transform:translateX(0) translateY(0%);
    opacity: 1;
}
