*,
*::before,
*::after {
    box-sizing: border-box;
    line-height: 1.5em;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    width: auto;
    margin: 0;
    font-family: IRANSans;
    background-color: #f7f7f7;
    direction: rtl;
}
.row,col{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
/*navbar 1*/
header {
    height: 100px;
    background-color: white;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    z-index: 1;
}
header .wrapper {
    background-color: white;
    color: black;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}
header .logo img {
    height: 80px;
    display: block;
}
div.navbar{
    padding: 0;
}
.navbar ul {
    padding: 0;
    color: black;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.navbar ul a {
    padding: 0;
    width: auto;
    box-shadow: none;
    display: flex;
    color: #444444;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 17px!important;
}
.links-nav1{
    display: flex;
    flex-direction: column;
}
.item_nav_link1,
.item_nav_link2{
    background-color: unset;
    border: none;
    gap: 20px;
}
@media screen and (max-width: 950px){
    div.links-nav1,
    div.navbar{
        display: none;
    }
    div.logo{
        width: 150vm;
        height: 100vm;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 950px){
    div.links-nav1{
        font-size: 16px!important;
    }
}

/*navbar 2*/

.wrapper2 {
    background-color: #00B9F1;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    position: relative;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.search,.sign-in,.basket{
    text-align: center;
    flex-wrap: nowrap;
}

/*navbar2:hoverable menu*/

.menu-bar {
    position: relative;
    display: inline-block;
}

.menu-hover i{
    padding: 0 10px 0 10px;
    font-size: 20px;
}
.menu-hover {
    border: none;
    color: white;
    background-color: #00B9F1;
    width: auto;
    height: 50px;
    padding: 5px 10px 10px 10px;
    cursor: pointer;
    z-index: 2;
}
.menu-hover:hover
,.menu-btn:hover,.items-hover:hover
,.items-hover2:hover{
    background: #00FF05;
    color: green;
}

.hover-drop {
    width: 270px;
    color: white;
    background-color: #00B9F1;
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px 0 #00B9F1;
    z-index: 1;
}
.hover-drop2,.hover-drop3
,.hover-drop4,.hover-drop5 {
    width: 180px;
    color: white;
    background-color: #00B9F1;
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 #00B9F1;
    z-index: 1;
    top: 0;
    right: 269px;
}
.hover-drop3{
    top: 43px!important;
    right: 270px!important;
}
.hover-drop4{
    top: 86px!important;
    right: 270px!important;
}
.hover-drop5{
    top: 129px!important;
    right: 270px!important;
}
button.items-hover,button.items-hover2 {
    width: 100%;
    text-align: right;
    margin: 0;
    display: block;
    color: white;
    background-color: #00B9F1;
    padding: 10px 13px;
    border: none;
    border-top: 0.5px solid white;
    border-right: 0.5px solid white;
}
.items-hover2 a{
    width: auto;
    text-decoration: none;
    color: white;
}
.menu-bar:hover .hover-drop,
.menu-bar2:hover .hover-drop2,
.menu-bar2:hover .hover-drop3,
.menu-bar2:hover .hover-drop4,
.menu-bar2:hover .hover-drop5{
    display: block;
}

/*navbar2:sidebar menu*/

div.wrapper2 button.menu-btn{
    padding: 0 20px 20px 10px;
}
div.wrapper2 button.menu-btn i{
    font-size: 35px;
    width: 45px;
    height: 50px;
}
div.sidebar {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    transition: left 0.3s;
    z-index: 2;
    height: 920px;
    max-height: 920px;
    overflow: scroll;
}
.sidebar.show {
    left: 0 !important;
    display: block;
    padding: 20px 10px;
    align-items: center;
    background-image:
        linear-gradient(135deg,black,#00B9F1,blue,#00B9F1
        ,midnightblue,#00B9F1,black);
}
.hide-scroll {
    overflow: hidden;
}
/* close-nav button exit*/
.close-nav {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
}
.close-nav button.exit {
    all: unset;
    background-color: #FF9841;
    font-size: 60px;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.2);
    padding: 15px 20px 10px 20px;
    border-radius: 10px;
    color: black;
}
.close-nav button.exit:hover {
    color: rgba(255,54,0,0.98);
    background: red;
    box-shadow: 0 0 10px 2px red;
    border-color: red;
}
/*close-nav button sign-in*/
.close-nav a button{
    background-color: greenyellow;
    font-size: 19px;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}
.close-nav a{
    color: #508300;
    text-decoration: none;
}
.close-nav a button:hover{
    color: #08a808;
    font-weight: bolder;
}
.close-nav a button:hover {
    color: greenyellow;
    background: green;
    box-shadow: 0 0 10px 2px green;
    border-color: green;
}
.close-nav a button:focus{
    box-shadow: 0 0 20px 10px green;
    border-color: green;
    outline: none;
}
/*close-nav button sin-out*/
.close-nav button.sign-out{
    background-color: #b71a3f;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}
.close-nav button.sign-out:hover{
    background-color: #ff0000;
    box-shadow: 0 0 10px 2px #b71a3f;
}
/*close-nav auth user*/
.close-nav .sign-in-mobile{
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    border: none;
}


.menu-btn{
    display: inline-block;
    z-index: 2;
    background-color: #00B9F1;
    color: white;
    font-size: 14px;
    height: 50px;
    border: none;
}
.menu-btn i{
    width: auto;
    padding-left: 10px;
}
div.menuitem {
    width: 100%;
    height: auto;
    all: unset;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.dropdown{
    width: 90%;
    padding-top: 15px;
}
.dropdown .drop-btn {
    background-color: #9fcdff;
    display: flex;
    width: 100%;
    height: auto;
    padding: 15px 15px 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    box-shadow: 0 1px 10px 1px #00B9F1;
}
.drop-btn i{
    font-size: 20px;
    font-weight: bold;
    padding: 0 20px 0 0;
}
.list-items{
    display: none;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}
.list-items a {
    width: 60%;
    display: block;
    all: unset;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    background-color: #9fcdff;
    padding: 7px;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    box-shadow: 0 1px 10px 1px #00B9F1;
    margin-top: 5px;
}
button.drop-btn:hover {
    background-color: #00B9F1;
    text-decoration: none;
}
.list-items{
    display: none;
    position: relative;
}
.list-items a{
    display: block;
    text-decoration: none;
    text-align: right;
}
.list-items a.deep:focus {
    background-color: #00B9F1;
}

/*navbar2:search*/

.search form{
    display: flex;
    height: 50px;
}
.search input{
    display: flex;
    width: 35vw;
    border-radius: 0 25px 25px 0;
    font-size: 12px;
    color: grey;
    padding: 2px 20px;
    border: none;
    height: 34px;
    margin-top: 7px;
}
.search button{
    display: flex;
    color: white;
    width: 60px;
    border-color: #00B9F1;
    background-color: #424242;
    border-style: solid;
    border-radius: 20px 0 0 20px;
    padding: 4px 17px 0 0;
    height: 34px;
    margin-top: 7px;
    border-width: 0;
}
.search2 form{
    display: none;
    height: 50px;
    width: 100%;
    z-index: 1;
}
.search2 input{
    display: flex;
    width: 100%;
    font-size: 12px;
    color: grey;
    padding: 2px 20px;
    border: none;
    height: 34px;
}
.search2 button{
    color: white;
    width: 60px;
    border-color: #00B9F1;
    background-color: #424242;
    border-style: solid;
    padding: 4px 0 0 0;
    height: 34px;
    border-width: 0;
}

/*navbar2:sign-in & sign out & basket*/
.sign-in{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.sign-in button,
.sign-in span {
    display: block;
    text-decoration: none;
    color: white;
    border: none;
    background-color: unset;
    margin: 0;
    font-size: 20px;
    padding: 0;
}
.sign-in span{
    padding-top: 6px;
}
.sign-in .sign-in-btn{
    font-size: 15px;
    background-color: greenyellow;
    color: #508300;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px 10px 15px;
    border-radius: 15px;
}
.sign-in a{
     text-decoration: none;
 }
.sign-in .sign-in-btn:hover{
    color: greenyellow;
    background-color: green;
    box-shadow: 0 0 10px 2px green;
    font-weight: bolder;
}
.sign-in .sign-in-btn:focus{
    box-shadow: 0 0 20px 10px green;
}

.sign-in button.sign-out{
    background-color: #b71a3f;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
    border: 3px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
}
.sign-in button.sign-out:hover{
    background-color: #ff0000;
    box-shadow: 0 0 10px 2px #b71a3f;
}
.sign-in button.sign-out:focus{
    box-shadow: 0 0 20px 10px #ff0000;
}

.basket button{
    display: flex;
    margin: auto;
    padding: 0;
    border: #00B9F1;
    background-color: unset;
    left: 100%;
}
.basket img{
    padding: 2px;
    margin-left: 20px;
}
.basket button, .menu button,.sign-in button,
.search input, .search button,.search2 input,
.search2 button, .dropdown button,
.menu-bar button:focus{
    border: none;
    outline: none;
}

/*responsive screen*/

@media (min-width: 850px) {
    .sidebar, .search2 {
        display: flex;
    }
    .sidebar {
        flex-direction: column;
        gap: 20px;
    }
    .search2,div.sidebar,
    div.wrapper2 button.menu-btn{
        display: none;
    }
}

@media (max-width: 849px) {
    .sign-in button
    ,.menu-hover,
    .menu-bar:hover .hover-drop{
        display: none;
    }
}

@media (max-width: 750px){
    div.search{
        display: none;
    }
    div.wrapper2{
        box-shadow: none;
    }
    div.search2 form{
        display: flex;
    }
    div.search2 form input,
    div.search2 form button{
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    }
}

@media (max-width: 600px){
    div.search{
        margin: 0 auto;
    }
    div.search input{
        height: 30px;
        margin-top: 10px;
        font-size: 10px;
    }
    div.search button{
        height: 30px;
        margin-top: 10px;
        padding: 2px 15px 0 0;
    }
}







/*cards*/
.card-link{
    position: relative;
    padding-top: 50px;
}
.card{
    width: 23%;
    float: right;
    border: white;
    border-radius: 20px;
}
.card:hover{
    bottom: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

/*big-card*/
.big-card{
    padding: 60px 0 60px 0;
}

/*footer*/
.nav-footer{
    background-color: #00B9F1;
    height: 50px;
    color: white;
    font-size: 13px;
}
.nav-footer-icon{
    text-align: right;
}
.footer-form{
    padding-top: 5px;
    width: 70%;
    float: left;
}
.footer{
    width: 100%;
    height: 420px;
    color: #424242;
    background-color: #e3e3e3;
    padding-top: 20px;
    font-size: 13px;
}

.footer2{
    padding: 20px 0 0 0;
    text-align: center;
    line-height: 23px;
    font-size: 13px;
}
.guidance-num{
    text-align: right;
    padding-top: 8px;
    font-size: 16px;
}
.footer-final{
    display: block;
    color: #00ff25;
    font-family: "Segoe Script";
    font-weight: 1000;
    font-style: normal;
    font-size: 20px;
    text-align: center;
    background-color: #565656;
    width: 100%;
    height: 70px;
    padding: 20px 0 20px 0;
}
.row-footer3{
    padding: 30px 30px 0 0;
    margin: 0;
}
.footer3{
    font-weight: bold;
    font-family: IRANSans;
    font-size: 14px;
    text-align: right;
    color: black;
    margin-bottom: 30px;

}
.end-links{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #424242;
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 12px;
}
.login-div{
    color: white;
    margin: 0;
    padding: 0;

}
.logout_btn{
    color: white;
    border: none;
    background-color: unset;
    padding: 12px 10px 0 0;
}
.logout_btn:focus{
    border: none;
    outline: none;
}
.login-name{
    padding: 12px 5px 0 0;
}


.first-title{
    display: block;
    text-align: right;
    margin: 10px 15px;
    border: 1px solid rgba(205, 205, 205, 0.52);
    border-radius: 8px;
    box-shadow:0 5px 8px 0 #BABABA;
    width: auto;
    height: auto;
    padding: 15px;
    font-size: 20px;
}

.page-row{
    height:auto;
    width: auto;
    padding: 10px 0 20px 15px;
}

.products_list{
    border: 1px solid rgba(205, 205, 205, 0.52);
    border-radius: 8px;
    box-shadow:1px 2px 10px 1px #BABABA;
}

.cardlist {
    width: 99%;
    height: 99%;
    border-radius: 8px;
    background: white;
    position: relative;
    padding: 0.9rem;
    transition: 0.5s ease-out;
    overflow: visible;
}

.card-button {
    transform: translate(-50%, -100%);
    width: 70%;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: green;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.text-body{
    text-align: center;
    font-size: 2vh;
    height: 30px;
    padding: 2px 5px 5px 5px;
}

.text-price{
    width: 100%;
    display: block;
    font-family: "2  Koodak";
    font-size: 19px;
    color: #70A744;
    text-align: center;
    padding-top: 55px;
    margin-left: auto;
    margin-right: auto;

}

/*Hover*/
.cardlist:hover {
    box-shadow: 1px 5px 20px 3px #00000081;
}
.card-button:hover{
    background-color: greenyellow;
    color: black;
    box-shadow: 0 0 20px 10px greenyellow;
    outline: none;
}
.cardlist:hover .card-button {
    transform: translate(-50%, -10%);
    opacity: 1;
}

.row-product-image{
    background-color: white;
    height: 450px;
    width: 80%;
    margin: 20px;
    padding: 10px;
    border: 1px solid rgba(205, 205, 205, 0.52);
    border-radius: 8px;
    box-shadow:1px 2px 10px 2px #BABABA;
}
.col-image{
    display: flex;
    background-color: yellow;
    height: 100%;
    width: auto;
}
.col-image-info{
    background-color: #9fcdff;
}
