html{
    height: 100%;
}
body{
    alignment: right;
    background-color: cornflowerblue;
    font-family: IRANSans;
    height: 100%;
}

.row{
    margin: 0px;
}
.nav{

    background-color: white ;
    color: white;
    height: auto;
}
.item_nav1{
    margin-top: 30px;
    border: none;
    background-color: unset;
}
.item_nav_link1{
    margin-top: 20px;
    border: none;
    background-color: unset;
}
.item_nav_link2{
    border: none;
    background-color: unset;
}
.item_nav1:focus {
    border: none;
    outline: none;
}
.item_nav_link1:focus {
    border: none;
    outline: none;
}
.item_nav_link2:focus {
    border: none;
    outline: none;
}
.logo{
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
